<div class = "container main">
  <div class = "row toprow justify-content-center">
    <h3>登録情報一覧</h3>
  </div>
   <div class ="row justify-content-center">
    <div class ="col-8">
     <table class = "table table-bordered text-left" >
      <tbody>
       <tr>
        <td><%= "プロフィール画像" %></td>
        <td><%= image_tag @end_user.get_profile_image(100,100) %></td>
       </tr>
       <tr>
         <td><%= "ニックネーム" %></td>
         <td><%= @end_user.nickname %></td>
       </tr>
       <tr>
         <td><%= "氏名" %></td>
         <td><%= @end_user.full_name %></td>
       </tr>
       <tr>
         <td><%= "カナ" %></td>
         <td><%= @end_user.full_name_kana %></td>
       </tr>
       <tr>
         <td><%= "性別" %></td>
         <td><%= t("enums.end_user.gender.#{@end_user.gender}") %></td>
       </tr>
       <tr>
         <td><%= "生年月日" %></td>
         <td><%= @end_user.birthday %></td>
       </tr>
       <tr>
         <td><%= "メールアドレス" %></td>
         <td><%= @end_user.email %></td>
       </tr>
       <tr>
         <td><%= "郵便番号" %></td>
         <td><%= @end_user.postal_code %></td>
       </tr>
       <tr>
         <td><%= "住所" %></td>
         <td><%= @end_user.address %></td>
       </tr>
       <tr>
         <td><%= "電話番号" %></td>
         <td><%= @end_user.telephone_number %></td>
       </tr>
      </tbody>
     </table>
    </div>
   </div>
   <div class = "row justify-content-around">
    <div class ="col-2">
      <%= link_to "投稿一覧を見る" ,post_images_path ,class: "btn btn-primary" %>
    </div>
      <div class ="col-2">
      <%= link_to "Helpを見る" ,end_users_helps_path ,class: "btn btn-primary" %>
    </div>
    <div class ="col-2">
      <%= link_to "フォロー中" ,end_user_followings_path(current_end_user.id) ,class: "btn btn-primary" %>
    </div>
    <div class ="col-2">
      <%= link_to "フォロワー" ,end_user_followers_path(current_end_user.id) ,class: "btn btn-primary" %>
    </div>
    <div class ="col-2">
     <% if @end_user == current_end_user %>
      <%= link_to "編集する" ,end_users_information_edit_path(@end_user) ,class: "btn btn-success btn-block " %>
     <% end %>
     </div>
    </div>
 </div>

