<div class = "container main">
   <div class = "row toprow justify-content-center">
    <h2 class = "content">投稿編集</h2>
   </div>
   <div class ="row justify-content-center mb-5">
    <div id="map"></div><!--mapの表示-->
   </div>

 <div class ="row justify-content-center mb-5">
  <div class="col-10">
     <%= form_with model: @post_image ,url: post_image_path ,method: :patch do |f| %>
      <table class = "table" >
       <tr>
        <td><%= f.label "住所" %></td>
        <td><%= f.text_field :address ,class: "form-control" %></td>
       </tr>
       <tr>
        <td><%= f.label "画像" %></td>
        <td><%= f.file_field :image ,class: "form-control" %></td>
       </tr>
       <tr>
        <td><%= f.label "タイトル" %></td>
        <td><%= f.text_field :title ,class: "form-control" %></td>
       </tr>
        <td><%= f.label "説明" %></td>
        <td><%= f.text_area :introduction ,class: "form-control" %></td>
       </tr>
       <tr>
        <td></td>
        <td>
         <%= f.submit "編集内容を保存" ,class: "btn btn-success mr-5" %>
         <%= link_to "詳細へ戻る" ,post_image_path , class: "btn btn-primary ml-5" %>
        </td>
       </tr>
      </table>
      <% end %>
      </div>
     </div>
    </div>
   </div>
<ul>
  <li>lat: <span id="lat"></span></li>
  <li>lng: <span id="lng"></span></li>
</ul>
<script type="text/javascript">
         function initMap() {
       // latitude,longitudeから位置を特定
           var test ={lat: <%= @post_image.latitude %>, lng: <%= @post_image.longitude %>};
           var map = new google.maps.Map(document.getElementById('map'), {
                     zoom: 15,
                     center: test
                     });
           var transitLayer = new google.maps.TransitLayer();
           transitLayer.setMap(map);

           var contentString = '住所：<%= @post_image.address %>';
           var infowindow = new google.maps.InfoWindow({
             content: contentString
           });
       // Map上の指定した位置にピンを挿して表示する
           var marker = new google.maps.Marker({
                         position:test,
                         map: map,
                         title: contentString
                        });
             map.addListener('click', (e) => {

             if (marker) {
        marker.setMap(null)
      }
      var latitude = e.latLng.lat()
      var longitude = e.latLng.lng()
      document.getElementById('lat').textContent = latitude
      document.getElementById('post_image_latitude').value = latitude
      document.getElementById('lng').textContent = longitude
      document.getElementById('post_image_longitude').value = longitude
      var geocoder = new google.maps.Geocoder();
      var latlng = {
    lat: latitude,
    lng: longitude,
  };
const infowindow = new google.maps.InfoWindow();
geocodeLatLng(geocoder, map, infowindow,latlng);
function geocodeLatLng(geocoder, map, infowindow,latlngStr) {
  const latlng = latlngStr;
  geocoder
    .geocode({ location: latlng })
    .then((response) => {
      if (response.results[0]) {
        document.getElementById('post_image_address').value =(response.results[0].formatted_address).substr( 13 );
      } else {
        window.alert("No results found");
      }
    })
    .catch((e) => window.alert("Geocoder failed due to: " + e));
}
      test.lat = latitude
      test.lng = longitude
      marker = new google.maps.Marker({
                    position:test,
                    map: map,
                    title: contentString
                   });
       marker.addListener('click', function() {
         infowindow.open(map, marker);
       });
    })

            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });

         }
       </script>
       <script async defer
                     src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%=ENV["GOOGLE_MAP_API"]%>&callback=initMap">
       </script>
       <style type="text/css">
         #map { height: 400px;
                width: 70%;}
       </style>