<div class="card-list-container py-5">
 <div class="row toprow justify-content-center">

  <% @post_images.each do |post_image| %>
  <div class="col-8 col-lg-3 mx-5 text-card-container">
   <div class="card-deck">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to post_image_path(post_image.id) do %>
      <%= image_tag post_image.get_image(200,200), class: "card-img-top border"; %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-3 col-lg-1 text-center">
          <%= image_tag post_image.end_user.get_profile_image(100,100), class: "rounded-circle"; %>
        </div>
        <div class="col-9">
          <p class="card-title">
            <%= link_to(post_image_path(post_image.id), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span> <%= post_image.title %></span></strong>
            <% end %>
          </p>
          <p class="card-text">説明：<%= post_image.introduction %></p>
          <span><i class="fas fa-user"></i><%= post_image.end_user.nickname %> ｜ </span>
          <span><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id), class: "text-dark" %></span>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
  <% end %>
  <%= paginate @post_images %>

</div>
</div>







<div class ="container main">
 <div class ="row toprow mt-5">
     <table class = "table">
      <thead>
       <tr>
        <th>被害画像</th>
        <th>投稿日時</th>
        <th>タイトル</th>
        <th>災害種別</th>
        <th>コメント</th>
       </tr>
      </thead>
      <tbody>
    <% @post_images.each do |post_image| %>
      <tr>
       <td>
        <%= link_to post_image_path(post_image.id) do %> <%#詳細ページへ遷移したい %>
         <%= image_tag post_image.get_image(100,100) %>
        <% end %>
       </td>
       <td class="align-middle"><%= post_image.created_at.strftime('%Y/%m/%d %H:%M') %></td>
       <td class="align-middle"><%= post_image.title %></td>
       <td class="align-middle"><%= post_image.kind %></td>
       <td class="align-middle"><%= link_to "#{post_image.post_comments.count} 件", post_image_path(post_image.id) %></td>
      </tr>
    <% end %>
      </tbody>
     </table>
 </div>
 <div class= "pagination">
  <%= paginate @post_images %>
 </div>
</div>
 <%#= post_image.end_user.nickname %>
