<div class = "container">
 <div class ="row text-center">
   <div class ="col">
    <h1>災害状況投稿ページ</h1>
   </div>
 </div>
   <% if @post_image.errors.any? %>
    <%= @post_image.errors.count %>件のエラーが発生しました
    <ul>
      <% @post_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
   <% end %>
     <%= form_with model: @post_image do |f| %>
     <div class ="row justify-content-center">
      <div class "col">
         <h4>住所</h4>
          <%= f.text_field :address, placeholder: "発生場所の住所",size: "30x5" %>

         <h4 class ="mt-3">画像</h4>
          <%= f.file_field :image, accept: "image/*" %>

         <h4 class ="mt-3">タイトル</h4>
          <%= f.text_field :title ,size: "40x10" %>

         <h4 class ="mt-3">種別</h4>
          <%= f.select :kind , ApplicationController::DISASTER_ARRAY, include_blank: '選択してください' %>

         <h4 class ="mt-3">説明</h4>
          <%= f.text_area :introduction ,size: "80x5" %>

         <div class = "row">
          <div class = "col text-center">
           <%= f.submit '投稿',class: "btn btn-info btn-md w-30" %>
          </div>
         </div>
      </div>
     </div>
     <% end %>
</div>