<div class = "container main">
 <div class ="row toprow justify-content-center">
    <h3>災害状況新規投稿</h3>
 </div>
   <% if @post_image.errors.any? %>
    <%= @post_image.errors.count %>件のエラーが発生しました
    <ul>
      <% @post_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
   <% end %>
     <%= form_with model: @post_image do |f| %>
     
      <div class "col ">
         <h4>住所</h4>
          <%= f.text_field :address, placeholder: "発生場所の住所",size: "30x5" %>
          <%= f.hidden_field :latitude %>
          <%= f.hidden_field :longitude %>

<ul>
  <li>lat: <span id="lat"></span></li>
  <li>lng: <span id="lng"></span></li>
</ul>

<script type="text/javascript">
  function initMap() {
    // latitude,longitudeから位置を特定marker.sermap()
    var test = {lat: 35.6895014, lng: 139.6917337};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @post_image.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker

    map.addListener('click', (e) => {
      if (marker) {
        marker.setMap(null)
      }
      var latitude = e.latLng.lat()
      var longitude = e.latLng.lng()
      document.getElementById('lat').textContent = latitude
      document.getElementById('post_image_latitude').value = latitude
      document.getElementById('lng').textContent = longitude
      document.getElementById('post_image_longitude').value = longitude

      test.lat = latitude
      test.lng = longitude

      marker = new google.maps.Marker({
                    position:test,
                    map: map,
                    title: contentString
                   });

       marker.addListener('click', function() {
         infowindow.open(map, marker);
       });
    })
  }
</script>
<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%=ENV["GOOGLE_MAP_API"]%>&callback=initMap">
</script>
<style type="text/css">
  #map { height: 400px;
         width: 70%;}
</style>
<!--mapの表示-->
<div id="map"></div>


         <h4 class ="mt-3">画像</h4>
          <%= f.file_field :image, accept: "image/*" %>

         <h4 class ="mt-3">タイトル</h4>
          <%= f.text_field :title ,size: "40x10" %>

         <h4 class ="mt-3">種別</h4>
          <%= f.select :kind , ApplicationController::DISASTER_ARRAY, include_blank: '選択してください' %>

         <h4 class ="mt-3">説明</h4>
          <%= f.text_area :introduction ,size: "80x5" %>

          <div class = "col text-center">
           <%= f.submit '投稿',class: "btn btn-info btn-md w-30" %>
          </div>
      </div>
     </div>
     <% end %>
</div>