<div class ="container main">
  <div class ="row toprow justify-content-center">
    <div class ="col mt-3">
     <p>タイトル：<%= @post_image.title %></p>
      <%= image_tag @post_image.get_image(300,300) %>
     <p>投稿日時：<%= @post_image.created_at.strftime('%Y/%m/%d %H:%M') %></p>
     <p>説明：<%= @post_image.introduction %></p>
     <% if @post_image.helped_by?(current_end_user) %>
    <p>
      <%= link_to post_image_helps_path(@post_image), method: :delete do %>
        ♥<%= @post_image.helps.count %> Help
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_image_helps_path(@post_image), method: :post do %>
        ♡<%= @post_image.helps.count %> Help
      <% end %>
    </p>
  <% end %>
    </div>
</div>
<h4>詳細場所</h4>
<script type="text/javascript">
  function initMap() {
// latitude,longitudeから位置を特定
    var test ={lat: <%= @post_image.latitude %>, lng: <%= @post_image.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @post_image.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

// Map上の指定した位置にピンを挿して表示する
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>
<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%=ENV["GOOGLE_MAP_API"]%>&callback=initMap">
</script>
<style type="text/css">
  #map { height: 400px;
         width: 70%;}
</style>
<!--mapの表示-->
<div id="map"></div>

 <div class ="col">
  <% if @post_image.end_user == current_end_user %>
        <%= link_to "編集", edit_post_image_path(@post_image) ,data: { confirm: '編集しますか？' } %>
        <%= link_to "削除", post_image_path(@post_image), method: :delete ,data: { confirm: '削除しますか？' } %>
  <% end %>
 </div>

<div class = "row">
  <div class ="col">
  <p>コメント数：<%= @post_image.post_comments.count %>件</p>
  <% @post_image.post_comments.each do |post_comment| %>
    <p><%#= image_tag post_comment.end_user.get_profile_image(100,100) %></p>
    <%= post_comment.end_user.nickname %>
    <%= post_comment.created_at.strftime('%Y/%m/%d/%H:%M') %><%= post_comment.comment %>
  <% if post_comment.end_user == current_end_user %>
   <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete %>
  <% end %>
  <% end %>

</div>
</div>

 <div class ="col">
  <%= form_with model: [@post_image, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメント入力", size: "85x5" %>
 </div>
 <div class ="col-8 text-center">
    <%= f.submit "送信する" %>
  <% end %>
</div>
</div>
