<div class = "container main">
 <div class = "row toprow justify-content-center">
   <h3><%= @end_user.full_name %>さんの会員詳細</h3>
 </div>
   <div class = "row offset-2">
    <div class = "col-10">
      <table class = "table">
        <tr>
         <td><%= "会員ID" %></td>
         <td><%= @end_user.id %></td>
        </tr>
        <tr>
         <td><%= "ニックネーム" %></td>
         <td><%= @end_user.nickname %></td>
        </tr>
        <tr>
         <td><%= "氏名" %></td>
         <td><%= @end_user.full_name %></td>
        </tr>
        <tr>
         <td><%= "カナ" %></td>
         <td><%= @end_user.full_name_kana %></td>
        </tr>
        <tr>
         <td><%= "性別" %></td>
         <td><%= t("enums.end_user.gender.#{@end_user.gender}") %></td>
        </tr>
        <tr>
         <td><%= "生年月日" %></td>
         <td><%= @end_user.birthday %></td>
        </tr>
        <tr>
         <td><%= "メールアドレス" %></td>
         <td><%= @end_user.email %></td>
        </tr>
        <tr>
         <td><%= "郵便番号" %></td>
         <td><%= @end_user.postal_code %></td>
        </tr>
        <tr>
         <td><%= "住所" %></td>
         <td><%= @end_user.address %></td>
        </tr>
        <tr>
         <td><%= "電話番号" %></td>
         <td><%= @end_user.telephone_number %></td>
        </tr>

        <tr>
         <td><%= "会員ステータス" %></td>
         <td><% if @end_user.is_deleted %>
              <p class = "text-secondary">退会</p>
             <% else %>
              <P class = "text-success">有効</P>
             <% end %>
         </td>
        </tr>
        <tr>
         <td><%= link_to "編集する" , edit_admin_end_user_path(@end_user.id) ,class: "btn btn-success",data: { confirm: '編集しますか？' }  %></td>
         <td><%= link_to "投稿履歴一覧を見る" , admin_post_images_path(end_user_id: @end_user.id)  ,class: "btn btn-primary" %></td>
        </tr>
      </table>
     </div>
    </div>
    </div>