<div class ="container">
  <div class ="row justify-content-center">
    <div class ="col mt-3">
     <p>タイトル：<%= @post_image.title %></p>
      <%= image_tag @post_image.get_image(500,500) %>
     <p>投稿日時：<%= @post_image.created_at.strftime('%Y/%m/%d %H:%M') %></p>
     <p>説明：<%= @post_image.introduction %></p>
    </div>
</div>
<h4>詳細場所</h4>
<script type="text/javascript">
  function initMap() {
// latitude,longitudeから位置を特定
    var test ={lat: <%= @post_image.latitude %>, lng: <%= @post_image.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @post_image.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

// Map上の指定した位置にピンを挿して表示する
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>
<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%=ENV["GOOGLE_MAP_API"]%>&callback=initMap">
</script>
<style type="text/css">
  #map { height: 400px;
         width: 70%;}
</style>
<!--mapの表示-->
<div id="map"></div>

 <div class ="col">
        <%= link_to "削除", admin_post_image_path(@post_image), method: :delete, data: { confirm: '削除しますか？' } %>
 </div>

  <div class ="row justify-content-center">
    <div class ="col">
    <p>コメント：<%= @post_image.post_comments.count %>件</p>
    <% @post_image.post_comments.each do |post_comment| %>
      <%= post_comment.end_user.nickname %><br>
      <%= post_comment.created_at.strftime('%Y/%m/%d/%H:%M') %><br>
      <%= post_comment.comment %><br>
     <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete, data: { confirm: '削除しますか？' } %><br>
    <% end %>
  </div>
  </div>
</div>

