<!DOCTYPE html>
<html>
  <head>
    <title>DisasterResponse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
　　<script src="https://kit.fontawesome.com/90c439b94e.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <body>
  <header>
    <% if admin_signed_in? %>
     <nav class = "navbar navbar-dark bg-light "> <%# ヘッダー全ての色 %>
      <div class = "container">
       <%= link_to "resQ" ,admin_root_path ,class: "" %>
        <div class = "row">
         <div class = "col ">
          <%= link_to "投稿一覧", admin_post_images_path , class: "" %>
          <%= link_to "利用者一覧", admin_end_user_path , class: "" %>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "" %>
         <div class ="input-group col-6 ml-auto mt-3"> <%# なぜautoだと右よせになる？ %>
           <input type = "text" id="txt-search" class= "form-control input-group-append " placeholder="Search" ></input>
          <span class ="input-group-btn input-group-append">
           <submit type = "submit" id ="btn-search" class="btn btn-primary"><i class ="fas fa-search"></i></submit>
          </span>
         </div>
        </div>
      </div>
     </nav>
    <% elsif end_user_signed_in? %>
     <nav class = "navbar navbar-dark bg-light "> <%# ヘッダー全ての色 %>
      <div class = "container">
       <%= link_to "resQ" ,root_path ,class: "" %>
          <ul>
           <form class="d-flex">
            <li><input class="form-control me-2" type="search" placeholder="キーワード検索" aria-label="Search" size = "30*30" ></li>
            <li><button class="btn btn-outline-success" type="submit">検索</button></li>
           </form>
          </ul>
          <ul>
            <li><i class="fa-solid fa-image mr-1"></i><%= link_to "新規投稿", new_post_image_path, class: "" %></li>
            <li><i class="fa-solid fa-image mr-1"></i><%= link_to "マイページ", end_users_my_page_path(current_end_user.id), class: "" %></li>
            <li><i class="fa-solid fa-user mr-1"></i><%= link_to "投稿一覧", post_images_path, class: "" %></li>
            <li><i class="fa-solid fa-lock mr-1"></i><%= link_to "ログアウト" , destroy_end_user_session_path, method: :delete, class: "" %></li>
          </ul>
        </div>
     </nav>
    <% else %>
     <nav class = "navbar navbar-dark bg-light "> <%# ヘッダー全ての色 %>
       <div class = "container">
        <%= link_to "resQ" ,root_path ,class: "" %>
          <ul>
           <form class="d-flex">
            <li><input class="form-control me-2" type="search" placeholder="キーワード検索" aria-label="Search" size = "30*30" ></li>
            <li><button class="btn btn-outline-success" type="submit">検索</button></li>
           </form>
          </ul>
          <ul>
            <li><i class="fa-solid fa-image mr-1"></i><%= link_to "投稿一覧" , post_images_path , class: "" %></li>
            <li><i class="fa-solid fa-user mr-1"></i><%= link_to "新規登録" , new_end_user_registration_path , class: "" %></li>
            <li><i class="fa-solid fa-lock mr-1"></i><%= link_to "ログイン" , new_end_user_session_path , class: "" %></li>
          </ul>
       </div>
     </nav>
    <% end %>
  </header>
    <%= yield %>

  </body>
</html>
