<!DOCTYPE html>
<html>
  <head>
    <title>DisasterResponse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
　　<script src="https://kit.fontawesome.com/90c439b94e.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class= "navi">
   <nav class = "navbar navbar-expand-lg bg-light fixed-top "> <%# ヘッダー全ての色 %>
    <% if admin_signed_in? %>
     <div class = "container">
       <h3><%= link_to "resQ" ,admin_root_path ,class: "font-weight-bold" %></h3>
          <div class="search_form ml-5">
            <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
              <%= f.text_field :word %>
              <%= f.select :range, options_for_select([['End_User'], ['Post_Image']]) %>
              <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
              <%= f.submit "検索", class: "btn btn-success" %>
            <% end %>
          </div>
          <button class="navbar-toggler navbar-light border" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
           <ul class="navbar-nav ml-auto">
            <li class="nav-item">
             <i class="fa-solid fa-image mr-1"></i>
             <%= link_to "投稿一覧", admin_post_images_path , class: "" %>
            </li>
            <li class="nav-item">
             <i class="fa-solid fa-user mr-1"></i>
             <%= link_to "会員一覧", admin_end_users_path , class: "" %>
            </li>
            <li class="nav-item">
                <i class="fa-solid fa-lock mr-1"></i>
             <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "" %>
            </li>
           </ul>
          </div>
     </div>
    <% elsif end_user_signed_in? %>
      <div class = "container">
       <h3><%= link_to "resQ" ,root_path ,class: "font-weight-bold" %></h3>
          <div class="search_form ml-5">
            <%= form_with url: search_path, local: true, method: :get do |f| %>
              <%= f.text_field :word %>
              <%= f.select :range, options_for_select([['End_User'], ['Post_Image']]) %>
              <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
              <%= f.submit "検索", class: "btn btn-success" %>
            <% end %>
          </div>
          <button class="navbar-toggler navbar-light border" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
           <ul class="navbar-nav ml-auto">
            <li class="nav-item">
             <i class="fa-solid fa-image mr-1"></i>
             <%= link_to "新規投稿", new_post_image_path, class: "" %>
            </li>
            <li class="nav-item">
             <i class="fa-sharp fa-solid fa-house"></i>
             <%= link_to "マイページ", end_users_my_page_path(current_end_user.id), class: "" %>
            </li>
            <li class="nav-item">
             <i class="fa-solid fa-user mr-1"></i>
             <%= link_to "投稿一覧", post_images_path, class: "" %>
            </li>
            <li class="nav-item">
             <i class="fa-solid fa-lock mr-1"></i>
             <%= link_to "ログアウト" , destroy_end_user_session_path, method: :delete, class: "" %>
            </li>
           </ul>
          </div>
      </div>
    <% else %>
       <div class = "container">
        <h3><%= link_to "resQ" ,root_path ,class: "font-weight-bold" %></h3>
          <div class="search_form ml-5">
            <%= form_with url: search_path, local: true, method: :get do |f| %>
              <%= f.text_field :word %>
              <%= f.select :range, options_for_select([['End_User'], ['Post_Image']]) %>
              <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
              <%= f.submit "検索", class: "btn btn-success" %>
            <% end %>
          </div>
          <button class="navbar-toggler navbar-light border" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
           <ul class="navbar-nav ml-auto">
            <li class="nav-item">
             <i class="fa-solid fa-image mr-1"></i>
             <%= link_to "投稿一覧" , post_images_path , class: "" %>
            </li>
            <li class="nav-item">
             <i class="fa-solid fa-user mr-1"></i>
             <%= link_to "新規登録" , new_end_user_registration_path , class: "" %>
             </li>
            <li class="nav-item">
             <i class="fa-solid fa-lock mr-1"></i>
             <%= link_to "ログイン" , new_end_user_session_path , class: "" %>
             </li>
           </ul>
          </div>
       </div>
    <% end %>
   </nav>
  </header>
    <%= yield %>

  <footer class="bg-dark text-white expand-lg">
  <div class="container">
   <div class="row">
   <h3><%= link_to "resQ" ,admin_root_path ,class: "" %></h3>
   </div>
   <div class ="row">
     <div class="col-4">
      <h5 class="text-center">命を救うために</h5>
     </div>
     </div>
   <div class ="row">
     <div class ="col-8">
      <ul class="p-0 list-unstyled justify-content-center">
        <li>
          <a class="mr-3"><%= link_to "利用規約" ,admin_tos_path ,class: "text-white" %></a>
          <a class="mr-3"><%= link_to "プライバシーポリシー" ,admin_policy_path ,class: "text-white" %></a>
          <a class="mr-3"><%= link_to "問い合わせ" ,new_contact_path ,class: "text-white" %></a>
        </li>
      </ul>
     </div>
    <section class="col-4 mb-4 text-right">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
       <i class="fab fa-facebook-f"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
       <i class="fab fa-twitter"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
       <i class="fab fa-instagram"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
       <i class="fab fa-github"></i>
      </a>
    </section>
  </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright G-style
  </div>
</footer>
 </body>
</html>
